/* Moses Marvian Arsata / 535250050 */

body {
    margin: 0;
    font-family: Tahoma, sans-serif;
    background: #f1ead8;
    color: #33312e;
}

h2 {
    font-size: 28px;
}

header {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    background: #70160d;
    color: #ffe6d4;
}

header h1 {
    font-size: 40px;
    font-family: 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
}

header p {
    font-size: 24px;
    font-family: 'Courier New', monospace;
}

article {
    margin: auto;
    padding: 30px;
    max-width: 900px;
    text-align: center;
}

#img1 {
    text-align: center;
}

.welcome p {
    font-family: 'Courier New', monospace;
    font-weight: 500;
}

.welcome p span.highlight {
    font-weight: 1000;
    text-decoration: underline;
    color: #e0493e;
}

#information button#show {
    padding: 10px;
    background-color: #70160d;
    color: #ffe6d4;
    font-size: 20px;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    font-family: 'Trebuchet MS', sans-serif;
}

#information button#hide {
    padding: 10px;
    color: #70160d;
    background-color: #ffe6d4;
    font-size: 20px;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    font-family: 'Trebuchet MS', sans-serif;
}

#information #info {
    color: #70160d;
    font-size: 20px;
    padding: 15px;
    font-weight: 1000;
    font-family: 'Trebuchet MS', sans-serif;
}

footer {
    padding: 16px;
    font-size: 18px;
    font-family: Verdana, sans-serif;
    text-align: center;
    background: #340000;
    color: #ffffff;
}